<!DOCTYPE HTML>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#e95420" />
<html>
<head>
  <title>Huntsville Spawn Locations</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/leaflet.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/angular.min.js"></script>
  <script src="js/leaflet.js"></script>
  <script src="js/leaflet-heat.js"></script>
  <!-- <script src="js/pokemon.js"></script>
  <script src="js/spawns.js"></script> -->
  <script src="js/app.js"></script>
  <script src="js/jquery-2.2.4.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- <script src="js/analytics.js"></script> -->
</head>
<body ng-app="HsvSpawns" ng-controller="HsvNodesCtrl">
  <div class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">HSV, AL Spawn Map</a>
      </div>
      <form id="navbar" class="navbar-form navbar-right">
        <button type="submit" class="btn btn-default" ng-click="scan()">Get Nodes</button>
      </form>
    </div>
  </div>
  <div id="map">

  </div>
  <footer class="footer">
    <div class="container">
        <p class="text-muted">Website created using Leaflet, Angular, Bootstrap, Python, Flask, and SQLite. Data collected by Kyle Roden. Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &copy; <a href="http://mapbox.com">Mapbox</a></p>
      </div>
  </footer>
</body>
</html>
